
.container {
  display: flex;
  flex-direction: column;
  --padding: 20px;
}

.figure {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
  padding: var(--padding);
}

.figcaption {
  margin-top: auto;
  padding-top: var(--padding);
}
