
.container {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

/* The following aspect-ratio technique/hack came from this post
 * https://css-tricks.com/aspect-ratio-boxes/
 */

.aspectRatioBox {
  position: relative;
}

.aspectRatioBox::before {
  --aspect-ratio-result: calc(var(--aspect-ratio));
  display: block;
  padding-bottom: calc(100% / var(--aspect-ratio-result));
  content: '';
}

.aspectRatioBox > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageBox {
  margin: -1rem -1rem 1rem;
  border-bottom: 2px solid var(--stone-grey);
}

.dataBox {
  border: 2px solid var(--stone-grey);
  height: 1rem;
}
