
.container {
  margin: 32px auto 68px;
  width: calc(100% - 32px);
  max-width: 832px;
}

.loader {
  margin-top: 30px;
}

.title {
  margin: 1.5em 0;
  font-weight: 300;
}

.resultsGrid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.result {
  width: 100%;
}

.noResultsMsg {
  margin-top: -32px;
  font-size: 0.88em;
}

.refWrapper {
  display: flex;
}

@media ( max-width: 768px ) {

  .container {
    margin: 16px 16px 24px;
  }
}
